html,
body {
  color: rgba(255, 255, 255, 0.70);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 19.5px */
  margin: 0;  
  padding: 0;
  position: relative;
}

.container {
  display: ruby-text;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body::before {
  content: ""; /* Add this */
  filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Add this */
  height: 100%; /* Add this */
  background-image: linear-gradient(
  224deg,
  #8EC5FC 2%,
  #94C7FD 25%,
  #A3C9FE 40%,
  #B2CBFF 55%,
  #C1D0FF 70%,
  #D2D5FF 85%,
  #E0C3FC 100%
);
  z-index: -1;
}


.todoapp-wrapper {
/*background: #fff;/)
  opacity: 50%; /*When unactive*/
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  overflow: visible;
  margin: 20px 20px 25px 20px;
  padding: 20px;
}

.todoapp input::-webkit-input-placeholder {
font-style: italic;
font-weight: 400;
color: rgba(0, 0, 0, 0.4);
}

.todoapp input::-moz-placeholder {
font-style: italic;
font-weight: 400;
color: rgba(0, 0, 0, 0.4);
}

.todoapp input::input-placeholder {
font-style: italic;
font-weight: 400;
color: rgba(0, 0, 0, 0.4);
}

.new-todo{
    display: flex;
    width: 243px;
    height: 30px;
    padding: 14px;
    margin: 40px 0px 10px 20px; 
    color: white;
    font-size: 1.5em;
    font-weight: 100;
    flex-direction: column;
    gap: 4px;
    border-radius: 30px;
    border: 0.5px solid rgba(255, 255, 255, 0.30);
    background: linear-gradient(180deg, rgba(99, 106, 150, 0.40) 0%, rgba(182, 186, 214, 0.25) 100%);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.15);
}
.new-todo:hover {
  /* add hover styles here */
  transform: translateY(-2px);
  cursor: pointer;
  border: inset 0.5px transparent;

}

/* Added new style for focus state to remove selection border */
.new-todo:focus {
  outline: none; /* Remove default outline */
}

/* To do List Focus*/
.todo-list {
margin: 0px;
padding: 0px;
list-style: none;

}

.todo-list li {
position: relative;
font-size: inherit;
transform: translateY(-2px);

}
  

.todo-list li:last-child {
border-bottom: none;
}

.todo-list li.editing {
border-bottom: none;
padding: 0;
}

/*Make Dishes*/
.todo-list li.editing .edit {
  display: block;
  width: calc(100% - 7rem);
  padding: 2px 16px;
  margin: 1rem 0 0 5rem;
  border-radius: 30px;
  border: 0.5px solid rgba(255, 255, 255, 0.30);
  background: linear-gradient(180deg, rgba(99, 106, 150, 0.40) 0%, rgba(182, 186, 214, 0.25) 100%);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
}

.todo-list li.editing .view {
display: none;
}

.todo-list li .toggle {
text-align: center;
width: 40px;
/* auto, since non-WebKit browsers doesn't support input styling */
height: auto;
position: absolute;
top: 0;
bottom: 0;
margin: auto 0;
border: none;
/* Mobile Safari */
-webkit-appearance: none;
appearance: none;
}

.todo-list li .toggle {
opacity: 0;
}

.todo-list li .toggle + label {
/*
  Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
  IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
*/
background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23949494%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
background-repeat: no-repeat;
background-position: center left;
}

.todo-list li .toggle:checked + label {
background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%2359A193%22%20stroke-width%3D%223%22%2F%3E%3Cpath%20fill%3D%22%233EA390%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22%2F%3E%3C%2Fsvg%3E");
}

.todo-list li label {
word-break: break-all;
padding: 15px 15px 15px 60px;
display: block;
line-height: 1.2;
transition: color 0.4s;
font-weight: 400;
color: #fff;
}

.todo-list li.completed label {
color: #949494;
text-decoration: line-through;
}

.todo-list li .destroy {
display: none;
position: absolute;
top: 0;
right: 10px;
bottom: 0;
width: 40px;
height: 40px;
margin: auto 0;
font-size: 30px;
color: #949494;
transition: color 0.2s ease-out;
}

.todo-list li .destroy:hover,
.todo-list li .destroy:focus {
color: #c18585;
}

.todo-list li .destroy:after {
content: "×";
display: block;
height: 100%;
line-height: 1.1;
}

.todo-list li:hover .destroy {
display: block;
}

/* .todo-list li .edit {
display: none;
} */

.todo-list li.editing:last-child {
margin-bottom: -1px;
}

.footer {

  padding: 1rem 0rem;
  height: 20px;
  text-align: center;
  font-size: 15px;
  border-top: 1px solid #e6e6e6;

  }

.todo-count {
  display: flex;
  width: 102px;
  padding: 7px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  float: left;
  text-align: left;
  border-radius: 30px;
  border: 0.5px solid rgba(255, 255, 255, 0.30);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
  }
  
.todo-count strong {
  font-weight: 300;
}


.filters {
  margin: 5px;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 124px;
  display: ruby;

  }
  
  .filters li {

      margin: 4px
  }
  
  .filters li a {
    color: #38238c;
    text-decoration: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 16.9px */
  
  }
  
  .filters li a:hover {
  color: rgba(0, 207, 253, 0.70);
  }
  
  .clear-completed,
  html .clear-completed:active {
  float: left;
  position: relative;
  line-height: 19px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
 
  }
  
  .clear-completed:hover {
  text-decoration: underline;
    
  }